<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body class="p-3">
    <h2>Adding the new Project</h2>
    <form method="post">

        {% csrf_token %}
        <div class="form-group">
            <label for="ProjectId">Project ID</label>
            <input type="text" class="form-control" id=ProId" name="project_id">
        </div>
        <div class="form-group">
            <label for="project_title">Project title</label>
            <input type="text" class="form-control" id="project_title" name="project_title">
        </div>
        <div class="form-group">
            <label for="Project_logo">Project Logo</label>
            <input type="file" class="form-control" id=Prologo" naccept="image/*" name="project_logo">
        </div>
        <div class="form-group">
            <label for="ProjectId">Project Image</label>
            <input type="file" class="form-control" id="img" naccept="image/*" name="project_image">
        </div>
        <div class="form-group">
            <label for="inventry">Project Inventory</label>
            <input type="" class="form-control" id="project_inventory" name="project_inventory">
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>

    {% if msg %}
    <h2>{msg |upper }</h2>
    {% endif %}

</body>

</html>