<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>
  {% load static %}
  <link rel="icon" href="{% static 'backend/favicon.png' %}" type="image/gif" sizes="16x16" />
  <title>{{ project_title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:title" content="Business Hub Multan" />
  <meta property="og:description" content="Business Hub DHA Multan - Zameen" />
  <meta property="og:image" content="https://www.zameengeomatics.com/public/businesshub/img/Logo.png" />

  <meta name="twitter:title" content="Business Hub Multan" />
  <meta name="twitter:description" content="Business Hub DHA Multan - Zameen" />
  <meta name="twitter:image" content="https://www.zameengeomatics.com/public/businesshub/img/Logo.png" />
  <meta name="twitter:card" content="summary_large_image" />

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link rel="stylesheet" href="{% static 'backend/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'backend/css/mobilestyle.css' %}" />
  <script type="text/javascript" src="https://static.sketchfab.com/api/sketchfab-viewer-1.8.1.js"></script>
</head>

<body>
  {% block content %}
  {% endblock %}
  {{ views|json_script:"global_dict" }}
  {{ inventory_ids|json_script:"inventory_ids" }}
  {{ floorplans_groups|json_script:"floorplans_groups" }}
  {{ default_inventory|json_script:"default_inventory" }}

  <script>
    const global_dict = JSON.parse(document.getElementById('global_dict').textContent);
    const models_names_ids = JSON.parse(document.getElementById('inventory_ids').textContent);
    const floorplans_groups = JSON.parse(document.getElementById('floorplans_groups').textContent);
    const default_inventory = JSON.parse(document.getElementById('default_inventory').textContent);    
  </script>
  <script src="{% static 'backend/js/jquery.min.js' %}"></script>
  <script src="{% static 'backend/js/popper.js' %}"></script>
  <script src="{% static 'backend/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'backend/js/main.js' %}"></script>

  <!-- <script src="{% static 'backend/js/meta.js' %}"></script> -->
  <script src="{% static 'backend/js/custom.js' %}"></script>
</body>

</html>